<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div style="background-color:blue; color:white; text-align: center;">
		<h1>Welcome to NuGet.org api.</h1>
		<h2>
			<i> To get the next version correctly, please request a path like: </i>
		</h2>
		<h2>
			<mark>/ api / version / {package_name} / {major | minor | patch} / json</mark>
		</h2>
		<br />
        <h2>
			<i> To query a package correctly, please request a path like: </i>
		</h2>
		<h2>
			<mark>/ api / query / {package_name} / json</mark>
		</h2>
		<br />
		<hr />
	</div>
</body>
</html>
